

<div class="container" id="home-container">
  <div class="jumbotron text-center text-light">
    <h1 >New Farm outta-the-park runners</h1>
    <p class="lead">We're a small group of runners getting together for a midweek and Sunday social run. Most of us  are also active "parkrunners" getting our Saturday morning 5k fix at New Farm parkrun. 
    </p>
    <hr class="my-4">
    <p>
    A few of us just started getting together on Wednesday evenings for an 8k run, and then started meeting on Sunday mornings for a longer run.  All our runs are informal and very social.  We typically meet outside Mary Mae's at the Powerhouse at 6:30pm on Wednesdays and at Double Shot on Oxlade Street 6am Sunday mornings.  Many of us frequently head up to Mount Coot-tha to hit the trails as well. Everyone runs at the their own pace and no one gets left behind. </p>
    <%= link_to "Join", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

