<h1 class="text-center mt-4">Categories</h1>

<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>

<div class="container">
  <% @categories.each do |category| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-1 bg-white rounded">
          <div class="card-header">
            <%=  link_to category.name, category %> <br>
            <small><em> <%= pluralize(category.articles.count, "article") %> </em></small>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="flickr_pagination mt-3 mb-2">
  <%= will_paginate @categories, :container => false %>
</div>

