<footer id="sticky-footer" class="py-2 bg-dark text-white">
  <div class="container text-center" >
    <small>Just for the run of it! <a  href="https://www.facebook.com/outtathepark/" target="_blank" class="text-warning">Follow us on Facebook</a>
    </small>
  </div>
</footer>